<h1>Movimientos</h1>
<table class="header">
    <tr class="header">
        <td class="header">
            <div class="izquierda">
                <input type="text" placeholder="Buscar" (keyup)="buscar($event.target)"/>
            </div>
        </td>
        <td class="header">
            <div class="derecha">
                <button (click)="nuevo()">Nuevo</button>
            </div>
        </td>
    </tr>
</table>

<div *ngIf="grid">
    <table>
        <thead>
            <th>Cuenta</th>
            <th>Cliente</th>
            <th>Tipo</th>
            <th>Fecha</th>
            <th>Valor</th>
            <th>Saldo</th>
        </thead>
        <tr *ngFor="let c of records">
            <td>{{c.numeroCuenta.numeroCuenta}}</td>
            <td>{{c.numeroCuenta.idCliente.nombre}}</td>
            <td>{{c.tipoMovimiento}}</td>
            <td>{{c.fecha | date : "dd/MM/yy"}}</td>
            <td>{{c.valor}}</td>
            <td>{{c.saldo}}</td>
        </tr>
    </table>
</div>

<div *ngIf="!grid">
    <div [formGroup]="formGroup">
        <table>
        <tr>
            <td class="header"> 
                <label>Cuenta</label>
                <input type="text" formControlName="numeroCuenta" (keypress)="numberOnly($event)">
            </td>
            <td class="header">
                <label>Tipo Movimiento</label>
                <input type="text" formControlName="tipoMovimiento">
            </td>
        </tr>
        <tr>
            <td class="header"> 
                <label>Valor</label>
                <input type="text" formControlName="valor" (keypress)="numberMinusOnly($event)">
            </td>
        </tr>
        <tr>
            <td class="header"></td>
            <td class="header centro">
                <button (click)="onSubmit()" [disabled]="formGroup.invalid" *ngIf="!edicion">Guardar</button>
                <button (click)="edit()" [disabled]="formGroup.invalid" *ngIf="edicion">Editar</button>
                <button (click)="cancelar()">Cancelar</button>
            </td>
        </tr> 
        </table>
    </div>
</div>
